In [7]:
import pandas as pd

file_path = "supermarket_sales.csv"
df = pd.read_csv(file_path)

print("Résumé statistique :")
print(df.describe())

Résumé statistique :
        Unit price     Quantity       Tax 5%        Total        cogs  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.00000
mean     55.672130     5.510000    15.379369   322.966749   307.58738
std      26.494628     2.923431    11.708825   245.885335   234.17651
min      10.080000     1.000000     0.508500    10.678500    10.17000
25%      32.875000     3.000000     5.924875   124.422375   118.49750
50%      55.230000     5.000000    12.088000   253.848000   241.76000
75%      77.935000     8.000000    22.445250   471.350250   448.90500
max      99.960000    10.000000    49.650000  1042.650000   993.00000

       gross margin percentage  gross income      Rating
count              1000.000000   1000.000000  1000.00000
mean                  4.761905     15.379369     6.97270
std                   0.000000     11.708825     1.71858
min                   4.761905      0.508500     4.00000
25%                   4.761905      5.924875     5.50000
50%                   4.761905     12.088000     7.00000
75%                   4.761905     22.445250     8.50000
max                   4.761905     49.650000    10.00000

In [8]:
print("\nValeurs manquantes :")
print(df.isnull().sum())

df.fillna(df.mean(numeric_only=True), inplace=True)

Valeurs manquantes :
Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [ ]:
sales_by_city = df.groupby('City')['Total'].sum()
top_city = sales_by_city.idxmax()
print("\nChiffre d'affaires total par ville :")
print(sales_by_city)
print(f"Ville avec les ventes les plus élevées : {top_city}")

Chiffre d'affaires total par ville :
City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64
Ville avec les ventes les plus élevées : Naypyitaw

In [11]:
avg_sales_by_product = df.groupby('Product line')['Total'].mean().sort_values(ascending=False).head(3)
print("\nTop 3 catégories de produits par chiffre d'affaires moyen :")
print(avg_sales_by_product)

Top 3 catégories de produits par chiffre d'affaires moyen :
Product line
Home and lifestyle    336.636956
Sports and travel     332.065220
Health and beauty     323.643020
Name: Total, dtype: float64

In [12]:
sales_by_gender = df.groupby('Gender')['Total'].sum()
sales_percentage = (sales_by_gender / sales_by_gender.sum()) * 100
print("\nPourcentage des ventes totales par genre :")
print(sales_percentage)

Pourcentage des ventes totales par genre :
Gender
Female    51.981489
Male      48.018511
Name: Total, dtype: float64

In [13]:
top_invoices = df.nlargest(5, 'Total')[['Invoice ID', 'Total']]
print("\nTop 5 factures avec le montant total le plus élevé :")
print(top_invoices)

Top 5 factures avec le montant total le plus élevé :
      Invoice ID    Total
350  860-79-0874  1042.65
167  687-47-8271  1039.29
557  283-26-5248  1034.46
699  751-41-9720  1023.75
996  303-96-2227  1022.49